@import url("https://fonts.googleapis.com/css2?family=Cantarell:wght@400;700&family=EB+Garamond:wght@400;500;600;700;800&family=Stylish&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

#tsparticles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
}

.stylish {
  font-family: "Stylish", serif;
}
.garamond {
  font-family: "EB Garamond", serif;
}
.cantarrel {
  font-family: "Cantarell", sans-serif;
}
