@import url("https://fonts.googleapis.com/css2?family=Cantarell:wght@400;700&family=EB+Garamond:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-image: url("https://marketplace.canva.com/EAFCO6pfthY/1/0/1600w/canva-blue-green-watercolor-linktree-background-F2CyNS5sQdM.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}
#tsparticles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
}
.garamond {
  font-family: "EB Garamond", serif;
}
.cantarrel {
  font-family: "Cantarell", sans-serif;
}
